#navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background-color: var(--parks-brown);
}

#navbar-main {
  height: calc(4 * var(--unit));
  width: calc(100% - 2 * var(--unit));
  padding-left: var(--unit);
  padding-right: var(--unit);
  padding-top: var(--unit);
  padding-bottom: calc(var(--unit) - 4px);
}

.navbar-icon {
  position: absolute;
  height: calc(4 * var(--unit));
  width: calc(4 * var(--unit));
  cursor: pointer;
}

.navbar-symbol {
  height: 100%;
  width: 100%;
  color: var(--parks-yellow);
}

#navbar-title {
  position: absolute;
  height: calc(4 * var(--unit));
  left: calc(6 * var(--unit));
}

#navbar-title-svg {
  position: absolute;
  height: 100%;
}

.navbar-title-svg-text {
  color: var(--parks-yellow);
  transform: translateY(20px);
}

#navbar-github-icon {
  right: calc(11 * var(--unit));
}

#navbar-mode-icon {
  right: calc(6 * var(--unit));
}

#navbar-mobile-filter-button {
  right: calc(1 * var(--unit));
}

#navbar-end-desktop {
  position: absolute;
  height: calc(1.5 * var(--unit));
  width: calc(24 * var(--unit));
  padding-top: calc(1.25 * var(--unit));
  right: var(--unit);
}

#navbar-end-desktop-svg {
  height: 100%;
}

#navbar-end-desktop-svg > text {
  color: var(--parks-yellow);
  transform: translateY(20px);
}
#navbar-end-desktop-svg > text > a {
  color: var(--parks-yellow);
}

#navbar-desktop-filter-button {
  cursor: pointer;
}

#navbar-parks-filters-list {
  border: 2px solid var(--parks-yellow);
  border-radius: 2px;
  background-color: var(--parks-brown);
}

.navbar-parks-filter {
  overflow: hidden;
  -webkit-box-shadow: inset -10px -10px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -10px -10px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset -10px -10px 10px 0px rgba(0, 0, 0, 0.1);
}

/* Desktop. */
@media (min-width: 800px) {
  #navbar-end-mobile {
    display: none;
  }
  #navbar-end-desktop {
    display: block;
  }
  #navbar-title {
    width: calc(100% - 33 * var(--unit));
  }
  #navbar-parks-filters-list {
    position: absolute;
    top: calc(4.5 * var(--unit));
    right: var(--unit);
    width: calc(18 * var(--unit));
  }
  .navbar-parks-filter {
    height: calc(1.5 * var(--unit));
    padding: calc(0.5 * var(--unit));
  }
}

/* Mobile. */
@media (max-width: 799px) {
  #navbar-end-mobile {
    display: block;
  }
  #navbar-end-desktop {
    display: none;
  }
  #navbar-title {
    width: calc(100% - 22 * var(--unit));
  }
  #navbar-parks-filters {
    position: absolute;
    width: 100vw;
    background-color: var(--parks-brown);
  }
  #navbar-parks-filters-list {
    position: relative;
    width: calc(100% - 2 * var(--unit) - 4px);
    margin: var(--unit);
  }
  .navbar-parks-filter {
    height: calc(2.5 * var(--unit));
    padding: calc(var(--unit));
  }
}

.navbar-parks-filter-svg {
  height: 100%;
  color: var(--parks-yellow);
}

.filter-active {
  background-color: var(--parks-green);
}

.filter-active > svg {
  color: var(--parks-blue);
}

.navbar-parks-filter:hover {
  background-color: var(--parks-blue);
  cursor: pointer;
}

.navbar-parks-filter:hover > svg {
  color: var(--parks-green);
}

#navbar-loading {
  width: 100%;
  height: 4px;
}

#navbar-loading-fill {
  display: block;
  height: 100%;
}
