.navbar-wrapper{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-wrapper *, .navbar-wrapper *:hover, .navbar-wrapper *:visited, .navbar-wrapper *:focus{
  font-family: "FormataMedium";
  color: var(--parks-yellow);
  background-color: var(--parks-brown);
}

.navbar{
  padding: 0px;
  border-top: 4px solid var(--parks-brown); /* offsets the photos-loading-bar on bottom */
}

.container-fluid{
  padding: clamp(12px, 1vw, 20px);
}

.navbar-brand{
  margin-right: clamp(12px, 1vw, 20px);
  padding: 0px;
}

.navbar-toggler:focus,.navbar-toggler:active{
  outline: none;
  box-shadow: none;
}

#navbar-title-svg {
  height: clamp(30px, 5vw, 100px);
  fill: var(--parks-yellow);
}

#navbar-menu-symbol, #navbar-logo{
  height: clamp(30px, 5vw, 100px);
  width: clamp(30px, 5vw, 100px);
}

#navbar-menu-symbol{
  fill: var(--parks-yellow);
}

.show-mobile-collapse{
  padding-top: clamp(12px, 1vw, 20px);
}

.hide-mobile-dropdown{
  display: none;
}

.dropdown-menu{
  border: 2px solid var(--parks-yellow);
  padding: 0px;
  margin: 0px;
}

.dropdown-item{
  color: var(--parks-yellow);
  background-color: var(--parks-brown);
  padding: 4px 12px;
  cursor: pointer;
}

.dropdown-item:hover{
  color: var(--parks-green) !important;
  background-color: var(--parks-blue) !important;
}

.selected-item{
  color: var(--parks-blue) !important;
  background-color: var(--parks-green) !important;
}

#photos-loading-bar{
  width: 100%;
  height: 4px;
}

#photos-loading-bar-fill{
  display: block;
  height: 100%;
}

.green-background{
  background-color: var(--parks-green);
}

.blue-background{
  background-color: var(--parks-blue);
}

.brown-background{
  background-color: var(--parks-brown);
}

/* Desktop navbar. */
@media (min-width: 1025px){
  .navbar {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .container-fluid {
    flex-wrap: nowrap;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .dropdown-menu {
    position: absolute !important;
  }
}

/* Mobile navbar. */
@media (max-width: 1024px){
  .navbar-toggler {
    padding: 0px;
    border: 0px;
  }
  #navbar-title-svg {
    width: calc(100vw - (4 * clamp(12px, 1vw, 20px)) - (2 * clamp(30px, 5vw, 100px)));
  }
}